name: Benchmarks

on:
  pull_request:

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    services:
      kafka:
        image: confluentinc/cp-kafka:8.0.0
        ports:
          - 9092:9092
        env:
          KAFKA_NODE_ID: "1"
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
          KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://127.0.0.1:9092"
          KAFKA_PROCESS_ROLES: "broker,controller"
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_BROKER_ID: "1"
          KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
          KAFKA_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9093"
          KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
          KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
          CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"
      rabbitmq:
        image: rabbitmq:alpine
        ports:
          - 5672:5672
      nats:
        image: diementros/nats:js
        ports:
          - 4222:4222
      redis:
        image: redis:alpine
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install Dependencies
        run: |
          uv pip install --system --group optionals --group testing .
      - name: Install Pydantic v2
        run: uv pip install --system --prerelease=disallow "pydantic>=2.0.0,<3.0.0"
      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: instrumentation
          run: uv run pytest benchmarks/ --codspeed
          token: ${{ secrets.CODSPEED_TOKEN }}